<a href="https://colab.research.google.com/github/hasnayen/Data-Analysis-Project-With-Python/blob/main/Cust_Purch_Data_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ecommerce Purchases Exercise Overview

Hi Guys,<br>
After a crash course on pandas for data analysis, its time to do some practice!!!<br>
Because of privacy issues, I have created a fake dataset here with 30K entries. <br>
The situation is, customers are providing some personal information while purchasing stuff on-line or in-store. For some reasons, your client wants to know the answer to some of his questions from the dataset, let's try to help him!.<br>

*Feel free to consult the solutions if needed. Please note, the tasks given in the exercises, can be solved in different ways. Try your best answer and compare with the solutions.* <br>
&#9758; The dataset is provided in the course downloads.

**1. Import Pandas and Read the csv file.**

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [100]:
import pandas as pd
file = "/content/drive/MyDrive/ODA/Cust_Purch_FakeData.csv"
try:
    df = pd.read_csv(file)
    print(df)
except Exception as e:
    print(e)

      prefix    first       last              email  gender  age  \
0        Dr.      Ray     Morton    sebvajom@kol.km    Male   38
1       Miss  Claudia  Rodriquez      acu@jatsot.ug  Female   51
2       Miss    Harry      Meyer          zuz@lo.wf  Female   51
3       Miss    Edith    Gilbert  hansohsi@jupec.md  Female   55
4        Dr.     Lura     Murphy     webediti@je.st  Female   20
...      ...      ...        ...                ...     ...  ...
29995    Mr.     John    Maxwell  larlisu@sejenu.ad  Female   38
29996    Dr.   Alfred       Bass      le@duridzo.gh  Female   24
29997   Mrs.   Edward     Curtis      ta@kucemah.et  Female   56
29998    Mr.      Max      Woods       li@mincoz.mp  Female   64
29999    Mr.     Olga  Rodriguez         ner@ota.ec    Male   22

                             company                profession  \
0                     Medtronic Inc.          Health Therapist
1       Ames Department Stores, Inc.          Health Therapist
2                          CSX Corp.       Political Scientist
3             Murphy Oil Corporation    Transportation Manager
4                       PETsMART Inc              Statistician
...                              ...                       ...
29995                  Spherion Corp       Publishing Director
29996                  Ford Motor Co          Diamond Merchant
29997  Park Place Entertainment Corp        Executive Director
29998           Nacco Industries Inc  University Administrator
29999          Texas Industries Inc.           Leasing Manager

                phone   postal province             cc_no   cc_exp  \
0      (987) 619-2695  B6V 3W3       MB  5020000000000230  05/2018
1      (356) 736-7352  G7M 5F3       SK  5020000000000230  07/2028
2      (539) 246-1806  A0Z 6P9       NS  6300000000000000  02/2023
3      (984) 962-7494  P9I 9H3       YT  3530000000000000  02/2028
4      (902) 568-9748  S1A 6K0       ON  4030000000000000  10/2025
...               ...      ...      ...               ...      ...
29995  (873) 298-1178  V4U 0X2       YT  6330000000000000  04/2028
29996  (541) 904-3323  T9O 1H6       PE   201000000000000  12/2026
29997  (375) 931-8605  X5Z 4E1       QC   201000000000000  06/2021
29998  (786) 481-9627  G0S 9Q8       NS    30000000000000  08/2023
29999  (841) 962-4087  N2D 5K3       BC  6300000000000000  05/2024

                         cc_type  price(CAD) fav_color              ip  \
0                           Solo        8.36      Blue    126.23.139.2
1                           Visa       68.31     Black  106.198.76.211
2                         Switch       34.65     Black  186.150.187.29
3                        Maestro       64.59     White   80.140.57.161
4      Diners Club International       20.83    Yellow   211.103.43.41
...                          ...         ...       ...             ...
29995              Visa Electron       90.37       Red  194.14.119.109
29996           American Express        5.94     White  154.114.74.254
29997                    Maestro       65.66     Black   188.0.106.220
29998                       Solo       52.66     Black  129.168.247.27
29999               InstaPayment       17.71    Yellow     70.2.107.65

         weekday ampm        date
0         Sunday   pm  04/05/1930
1        Tuesday   am  12/20/1926
2      Wednesday   pm  08/20/1931
3       Saturday   am  06/18/2001
4         Friday   pm  06/14/2045
...          ...  ...         ...
29995     Sunday   am  04/18/2014
29996     Sunday   pm  09/27/2068
29997     Monday   pm  09/07/1997
29998     Monday   pm  09/08/1938
29999  Wednesday   am  06/22/1956

[30000 rows x 20 columns]

**2. Its good idea to see how the data look like, display first 5 rows of your data-set.**

In [101]:
head = df.head(5)
print(head)

  prefix    first       last              email  gender  age  \
0    Dr.      Ray     Morton    sebvajom@kol.km    Male   38
1   Miss  Claudia  Rodriquez      acu@jatsot.ug  Female   51
2   Miss    Harry      Meyer          zuz@lo.wf  Female   51
3   Miss    Edith    Gilbert  hansohsi@jupec.md  Female   55
4    Dr.     Lura     Murphy     webediti@je.st  Female   20

                        company              profession           phone  \
0                Medtronic Inc.        Health Therapist  (987) 619-2695
1  Ames Department Stores, Inc.        Health Therapist  (356) 736-7352
2                     CSX Corp.     Political Scientist  (539) 246-1806
3        Murphy Oil Corporation  Transportation Manager  (984) 962-7494
4                  PETsMART Inc            Statistician  (902) 568-9748

    postal province             cc_no   cc_exp                    cc_type  \
0  B6V 3W3       MB  5020000000000230  05/2018                       Solo
1  G7M 5F3       SK  5020000000000230  07/2028                       Visa
2  A0Z 6P9       NS  6300000000000000  02/2023                     Switch
3  P9I 9H3       YT  3530000000000000  02/2028                    Maestro
4  S1A 6K0       ON  4030000000000000  10/2025  Diners Club International

   price(CAD) fav_color              ip    weekday ampm        date
0        8.36      Blue    126.23.139.2     Sunday   pm  04/05/1930
1       68.31     Black  106.198.76.211    Tuesday   am  12/20/1926
2       34.65     Black  186.150.187.29  Wednesday   pm  08/20/1931
3       64.59     White   80.140.57.161   Saturday   am  06/18/2001
4       20.83    Yellow   211.103.43.41     Friday   pm  06/14/2045

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

**3. How many entries your data have?
Can you tell the no. of columns in your data?**

In [ ]:
datatyps = df.info()
print(datatyps)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
prefix        30000 non-null object
first         30000 non-null object
last          30000 non-null object
email         30000 non-null object
gender        30000 non-null object
age           30000 non-null int64
company       30000 non-null object
profession    30000 non-null object
phone         30000 non-null object
postal        30000 non-null object
province      30000 non-null object
cc_no         30000 non-null int64
cc_exp        30000 non-null object
cc_type       30000 non-null object
price(CAD)    30000 non-null float64
fav_color     30000 non-null object
ip            30000 non-null object
weekday       30000 non-null object
ampm          30000 non-null object
date          30000 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

**4. What are the max and min ages of your customer? Can you find mean of your customer?**

In [ ]:
print("Max. age of the customer is: ",df['age'].max())
print("Min. age of the customer is: ",df['age'].min())
print("Avg. age of the customer is: ",df['age'].mean())

Max. age of the customer is:  65
Min. age of the customer is:  18
Avg. age of the customer is:  41.550066666666666

Max. age of the customer is:  65
Max. age of the customer is:  18
Avg. age of the customer is:  41.550066666666666

**5. What are the three most common customer's names?**<br>
&#9989; [<code>**value_counts()**</code>](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) returns object containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [40]:
customer_name_counts = df['first'].value_counts()
other_names = customer_name_counts.head(3)
print(other_names)

first
Willie     130
Francis    124
Eula        86
Name: count, dtype: int64

Willie     130
Francis    124
Eula        86
Name: first, dtype: int64

**6. Two customers have the same phone number, can you find those customers**?

In [55]:
duplicate = df["phone"].value_counts()
duplicate = duplicate[duplicate > 1]
print(duplicate)

phone
(263) 382-8004    2
Name: count, dtype: int64

In [ ]:
# lets find what phone number is twice!

(263) 382-8004    2
(668) 836-2738    1
Name: phone, dtype: int64

In [56]:
other = df[df["phone"] == "(263) 382-8004"]
print(other)

   prefix  first   last                email  gender  age            company  \
15   Mrs.  Lilly  Tyler      kofadu@itohi.tf  Female   38          CSX Corp.
16   Mrs.  Peter   Cain  megkosig@anazeor.gn    Male   27  Campbell Soup Co.

             profession           phone   postal province             cc_no  \
15  Structural Engineer  (263) 382-8004  V7K 1E3       ON    30000000000000
16   Insurance Adjuster  (263) 382-8004  E8T 2B4       YT  3530000000000000

     cc_exp                    cc_type  price(CAD) fav_color              ip  \
15  11/2022  Diners Club Carte Blanche        9.61    Yellow   74.124.37.227
16  03/2024                       Solo       13.74     Black  25.207.141.135

     weekday ampm        date
15  Saturday   am  03/30/1985
16   Tuesday   am  08/05/1950

In [ ]:
# Now we know the phone number, let's find out the other stuff!

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

**7. How many customers have profession "Structural Engineer"?**

In [57]:
SE = df[df["profession"] == "Structural Engineer"].count()
print(SE)

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

**8. How many male customers are 'Structural Engineer'?**

In [63]:
SE_gen = df[(df["profession"] == "Structural Engineer") & (df["gender"] == "Male")].count()
print(SE_gen)

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

**9. Find out the female Structural Engineers from province Alberta (AB)?**

In [65]:
SE_gen = df[(df["profession"] == "Structural Engineer") & (df["gender"] == "Female")]
print(SE_gen)

      prefix      first       last                 email  gender  age  \
15      Mrs.      Lilly      Tyler       kofadu@itohi.tf  Female   38
321     Miss     Mittie       Beck       huw@hotmail.com  Female   18
347      Mr.    Theresa      Woods     keope@hotmail.com  Female   44
1985    Miss       Olga   Griffith    dekonlis@gmail.com  Female   39
2231    Miss       Rosa   Castillo          er@gmail.com  Female   20
2585    Mrs.     Teresa       Lamb     saoluiv@gmail.com  Female   61
4196     Mr.       Dale    Fleming          le@yahoo.com  Female   36
4348    Miss    Derrick    Freeman       edelu@gmail.com  Female   63
4494    Mrs.       Alta      Gross          nu@gmail.com  Female   64
4925    Mrs.     Milton     Austin        uhmo@yahoo.com  Female   57
6088    Miss       Evan       Wise  luniluogi@pakogmu.nc  Female   61
6463     Dr.        Don      Lyons       adotini@tevu.fr  Female   57
8601     Dr.     Willie     Pierce    manotidi@tomeji.mc  Female   32
8858     Dr.        Roy    Stanley     apiunvo@ehasom.ir  Female   39
8910    Miss        Jon      Jones   vadwifos@pokizzi.mc  Female   63
9058     Mr.       Lora    Kennedy       dennap@rabac.se  Female   51
9564    Miss     Louise     Massey        nezti@wogog.ga  Female   57
9816    Mrs.      Aaron     Holmes           hone@puh.bq  Female   51
9915     Dr.     Nettie     Fuller           depu@ivu.sc  Female   60
11580    Mr.    Blanche    Nichols     ijamo@outlook.com  Female   44
12494    Dr.       Bess     Garcia        ju@outlook.com  Female   38
12533    Dr.     Mattie      Scott           vi@live.com  Female   23
13923    Mr.      David     Ingram       mavgen@live.com  Female   65
16444    Mr.  Christina      Wolfe        wipakete@hu.cf  Female   29
17339   Mrs.      Mamie       Beck           ki@ijpon.tr  Female   44
18808    Mr.       Ruby      Poole      fibjigaf@limi.sc  Female   45
18816   Miss      Hulda     Potter           deem@ode.ye  Female   49
18820   Mrs.      Kevin    Hoffman           tu@fibvo.gm  Female   46
19665   Mrs.      Lydia      Mason      hojatej@tukni.my  Female   55
20272   Mrs.      Duane     Benson  fobibowe@owosommo.vn  Female   44
20840    Mr.     Millie    Hawkins      ivioz@codgoke.cz  Female   65
22213    Mr.     Amelia      Hines   bezwek@izujowzim.tp  Female   48
23454    Mr.       Evan  Underwood      vuferfo@epewa.lu  Female   55
23999    Mr.  Katherine      Nunez          dapdev@di.kw  Female   50
24066    Dr.      Fanny      Adams         seotusa@bo.jp  Female   46
24736   Mrs.       Nell   Richards             dob@me.ki  Female   18
24741    Dr.      Ralph      Casey          tazoz@dod.ir  Female   18
25107    Mr.    Jeffrey      Perry       onigor@gapar.li  Female   65
26382   Miss      Jimmy    Kennedy     dahvo@borieve.edu  Female   51
26836   Miss    Lillian   Caldwell           fifa@viz.bb  Female   50
28399   Mrs.    Leonard      Henry    ajiga@tibhevola.bz  Female   18
28432    Mr.       Lena  Robertson     cihe@daszobzav.fk  Female   60
28497    Dr.        Sam     Gibson             jas@ja.tk  Female   24
29865   Mrs.        Don   McDaniel           naf@zudu.bj  Female   37

                              company           profession           phone  \
15                          CSX Corp.  Structural Engineer  (263) 382-8004
321                        Paccar Inc  Structural Engineer  (449) 626-2305
347            Grey Global Group Inc.  Structural Engineer  (245) 248-3190
1985   D&K Healthcare Resources, Inc.  Structural Engineer  (356) 423-4839
2231                  Sealed Air Corp  Structural Engineer  (344) 296-7596
2585          Northwest Airlines Corp  Structural Engineer  (579) 362-9165
4196       GreenPoint Financial Corp.  Structural Engineer  (367) 452-3092
4348    Longs Drug Stores Corporation  Structural Engineer  (974) 848-6284
4494                 AdvancePCS, Inc.  Structural Engineer  (713) 669-8623
4925               Lennar Corporation  Structural Engineer  (361) 979-9964
6088             Edison International  Structural Engineer  (379) 362-3046
6463    Wellpoint Health Networks Inc  Structural Engineer  (856) 706-8907
8601             Waste Management Inc  Structural Engineer  (212) 459-4416
8858       Cincinnati Financial Corp.  Structural Engineer  (876) 758-2929
8910   The McGraw-Hill Companies Inc.  Structural Engineer  (331) 838-1549
9058              BJ Services Company  Structural Engineer  (305) 786-6959
9564                   DTE Energy Co.  Structural Engineer  (279) 976-7122
9816                     Hubbell Inc.  Structural Engineer  (955) 893-3807
9915                 Southern Company  Structural Engineer  (450) 909-8715
11580          McDonald's Corporation  Structural Engineer  (877) 283-5557
12494       Golden State Bancorp Inc.  Structural Engineer  (327) 254-1013
12533                       3Com Corp  Structural Engineer  (339) 384-6834
13923                 Broadwing, Inc.  Structural Engineer  (786) 852-1297
16444             Williams Sonoma Inc  Structural Engineer  (300) 593-2472
17339                      Sequa Corp  Structural Engineer  (670) 539-9623
18808                   Sara Lee Corp  Structural Engineer  (741) 795-9366
18816                        PPL Corp  Structural Engineer  (650) 392-2703
18820       Prudential Financial Inc.  Structural Engineer  (478) 976-8270
19665              PPG Industries Inc  Structural Engineer  (966) 484-8218
20272                 PerkinElmer Inc  Structural Engineer  (537) 500-6791
20840                  Citigroup, Inc  Structural Engineer  (556) 838-9697
22213              SunTrust Banks Inc  Structural Engineer  (701) 659-7207
23454  Maxim Integrated Products Inc.  Structural Engineer  (206) 409-5417
23999             Washington Post Co.  Structural Engineer  (316) 582-6077
24066    Northrop Grumman Corporation  Structural Engineer  (380) 275-4271
24736    Telephone & Data Systems Inc  Structural Engineer  (262) 681-5018
24741      General Motors Corporation  Structural Engineer  (518) 384-9632
25107              Levi Strauss & Co.  Structural Engineer  (876) 663-5197
26382                 IMC Global Inc.  Structural Engineer  (569) 311-7838
26836           Dun & Bradstreet Inc.  Structural Engineer  (650) 966-6423
28399                Duke Energy Corp  Structural Engineer  (721) 772-8211
28432                        SPX Corp  Structural Engineer  (461) 676-8301
28497      Northeast Utilities System  Structural Engineer  (312) 725-4447
29865  Anadarko Petroleum Corporation  Structural Engineer  (238) 789-2825

        postal province             cc_no   cc_exp  \
15     V7K 1E3       ON    30000000000000  11/2022
321    X4V 3X0       NT  5130000000000000  08/2020
347    P3E 1L7       NS  6200000000000000  09/2019
1985   N4L 4I4       PE  6280000000000000  04/2025
2231   E0E 7H5       QC  6280000000000000  04/2021
2585   J3D 4Z2       PE  6370000000000000  11/2026
4196   B7D 7N4       NB  6010000000000000  11/2021
4348   R1C 9A9       SK  6330000000000000  01/2021
4494   N2C 4C9       MB  6280000000000000  06/2020
4925   P6U 8I9       NL  4720000000000000  06/2025
6088   K5W 8F5       NT  4900000000000000  03/2024
6463   N1Q 7R6       PE  5180000000000000  05/2023
8601   L2A 9U5       NB  5450000000000000  04/2020
8858   N5A 6L2       AB  6300000000000000  02/2022
8910   K1X 6D7       NB   201000000000000  07/2018
9058   N3R 4B7       AB   201000000000000  06/2019
9564   J6I 6Z6       QC  5020000000000000  03/2025
9816   T9V 1T1       NU  3530000000000000  10/2023
9915   L5B 7M2       NS  6330000000000000  09/2027
11580  L9O 2E8       MB   349000000000000  10/2027
12494  E8E 6N2       PE  5610000000000000  10/2024
12533  K0Y 3L0       ON   350000000000000  03/2026
13923  G7Q 4B2       BC  4900000000000000  06/2025
16444  T5R 8N8       NL  6370000000000000  07/2027
17339  X5Y 9A1       NB  5610000000000000  03/2022
18808  M1Y 2X5       ON  6370000000000000  02/2027
18816  H1E 6U8       YT  6210000000000000  12/2027
18820  S1R 1U7       NT  6280000000000000  12/2028
19665  M8M 7H4       NS  6280000000000000  08/2023
20272  G8C 1X4       SK   341000000000000  08/2026
20840  X1F 0T4       PE  6280000000000000  09/2020
22213  K2D 0B0       NL  6370000000000000  11/2027
23454  X9P 7D2       NU  5430000000000000  01/2025
23999  X3L 7G4       NT  3530000000000000  03/2023
24066  K2F 9S0       SK  6010000000000000  01/2028
24736  N3Y 3G2       AB   347000000000000  07/2028
24741  K8R 1B6       NS   201000000000000  10/2023
25107  X7S 2V7       ON  6010000000000000  12/2020
26382  H5O 6D5       BC  6220000000000000  07/2021
26836  P1F 6Y8       NU  6370000000000000  09/2028
28399  P1O 5Q9       YT  5610000000000000  06/2021
28432  H5K 7E7       ON    36900000000000  02/2024
28497  N6C 8K0       NB  5610000000000000  06/2027
29865  B4A 8Q9       AB  5610000000000000  12/2022

                                  cc_type  price(CAD) fav_color  \
15              Diners Club Carte Blanche        9.61    Yellow
321                                  Visa       43.81       Red
347                              Bankcard       49.95      Blue
1985                                 Visa       68.81     Green
2231                                 Visa       17.59      Blue
2585                           Mastercard       83.15     White
4196                       China UnionPay       23.27    Yellow
4348                       China UnionPay       22.19       Red
4494                                 Visa       61.17     Green
4925                             Bankcard       90.00       Red
6088                        Discover Card       88.72     Black
6463            Diners Club Carte Blanche       91.72       Red
8601                        Visa Electron       58.69     White
8858                         InstaPayment       31.86       Red
8910                         InstaPayment       41.80     White
9058   Diners Club United States & Canada       53.29     Black
9564                                 Solo       74.16       Red
9816                                  JCB       35.16       Red
9915                              Maestro       53.07     Green
11580                                Visa       56.78    Yellow
12494                      China UnionPay        8.39     White
12533           Diners Club International       13.67       Red
13923                        InstaPayment       69.63     Black
16444                               Laser       67.63     Green
17339                                 JCB       80.58    Yellow
18808                          Mastercard        5.49     Green
18816                                Solo       85.25      Blue
18820  Diners Club United States & Canada       60.32    Yellow
19665                        InstaPayment        3.48      Blue
20272                              Switch       34.83     White
20840                 Diners Club enRoute       65.19     White
22213                             Maestro       25.44       Red
23454           Diners Club International       71.73      Blue
23999                      China UnionPay       71.16     White
24066                          Mastercard       63.28       Red
24736                    American Express       76.28      Blue
24741                       Visa Electron       65.67     Black
25107                             Maestro       34.26       Red
26382           Diners Club International       55.89     Black
26836                       Visa Electron       47.52     Black
28399                    American Express       41.03     Green
28432                             Maestro       26.24    Yellow
28497           Diners Club Carte Blanche       69.14     Green
29865                          Mastercard       62.71      Blue

                    ip    weekday ampm        date
15       74.124.37.227   Saturday   am  03/30/1985
321      118.75.16.237     Sunday   am  02/07/1984
347      8.231.132.162     Monday   am  04/03/2057
1985      214.7.139.19     Sunday   am  04/10/2069
2231       207.13.56.5     Sunday   pm  10/20/1949
2585    73.186.162.180   Thursday   am  12/26/2009
4196    51.143.198.217     Monday   pm  05/07/1963
4348     133.91.166.86  Wednesday   am  05/06/2061
4494      124.38.50.74     Sunday   pm  01/26/1949
4925   154.156.209.236     Monday   am  06/15/2025
6088   125.190.252.123     Monday   pm  01/09/1953
6463     17.204.223.90     Sunday   pm  01/09/2060
8601    161.62.192.246   Saturday   pm  05/02/1901
8858    165.249.159.57     Sunday   pm  12/25/1903
8910     128.62.87.183   Saturday   pm  09/24/1957
9058    42.216.243.206   Thursday   pm  06/06/2028
9564   232.171.121.253   Thursday   am  12/06/1959
9816    247.142.145.94     Sunday   am  10/02/2025
9915     69.224.252.25   Thursday   am  04/09/1998
11580   231.118.211.97  Wednesday   am  12/12/1973
12494      1.1.223.172  Wednesday   pm  05/22/2070
12533   182.140.176.50    Tuesday   pm  08/02/1912
13923  129.135.155.110   Saturday   pm  05/02/1919
16444    148.6.228.140    Tuesday   am  06/16/2011
17339   52.117.181.173   Saturday   am  02/05/1922
18808     142.51.152.7     Monday   pm  02/04/1946
18816    9.104.209.167     Friday   am  01/05/2002
18820  143.240.113.212     Sunday   am  06/12/2039
19665    87.226.95.168     Friday   pm  08/19/2057
20272     63.61.64.154   Saturday   pm  08/02/1905
20840    203.138.8.243     Friday   am  07/07/2056
22213    77.202.77.233     Sunday   am  10/16/1948
23454     62.159.72.93     Sunday   pm  09/29/2022
23999  241.148.120.158    Tuesday   pm  09/18/1994
24066    143.67.77.170   Saturday   am  07/12/2069
24736     91.16.30.156  Wednesday   pm  07/14/1951
24741   221.92.142.159  Wednesday   am  02/17/2014
25107       9.53.91.98  Wednesday   am  01/16/2012
26382  152.197.239.139     Sunday   am  08/18/1955
26836   212.170.186.33     Friday   am  06/29/2058
28399   131.15.183.183     Friday   pm  01/20/2013
28432    160.189.15.61  Wednesday   pm  02/28/2012
28497     129.6.70.145     Friday   pm  11/17/2057
29865  162.233.117.142     Sunday   pm  11/03/1989

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

**10. What is the max, min and average spending?**

In [66]:
print("Max. spending is: ",df['price(CAD)'].max())
print("Min. spending is: ",df['price(CAD)'].min())
print("Avg. spending is: ",df['price(CAD)'].mean())

Max. spending is:  100.0
Min. spending is:  0.0
Avg. spending is:  49.990775

Max. spending:  100.0
Mai. spending:  0.0
Avg. spending:  49.990775000000184

**11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!**

In [67]:
spend = df[df["price(CAD)"] == 0]
print(spend)

      prefix  first   last           email  gender  age              company  \
5320     Dr.  Bruce  Bryan  ru@pubuspuh.cl    Male   59  Wal-Mart Stores Inc
10597   Mrs.  Flora  Clark      wad@me.com  Female   27         MetLife Inc.

                profession           phone   postal province            cc_no  \
5320   Engineer Technician  (709) 446-8317  H6H 3Y0       NU  201000000000000
10597      Cruise Director  (775) 373-6590  B2U 8K6       NB   30100000000000

        cc_exp                    cc_type  price(CAD) fav_color  \
5320   04/2024                   Bankcard         0.0     White
10597  05/2020  Diners Club Carte Blanche         0.0       Red

                  ip    weekday ampm        date
5320     82.70.62.64  Wednesday   am  12/11/1900
10597  231.156.15.63   Thursday   pm  08/22/1904

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

**12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?**

In [68]:
lr = df[df["price(CAD)"] >= 100]
print(lr)

      prefix    first         last          email  gender  age  \
76      Mrs.  Gregory        Brown     hav@jek.gs  Female   31
21093   Mrs.     Cody  Christensen    get@jovu.ag    Male   28
24385   Miss   Lizzie        Dixon  goh@tuwjaz.gd  Female   38

                         company              profession           phone  \
76           E*Trade Group, Inc.                Novelist  (625) 537-8923
21093        National City Corp.  Hospital Administrator  (261) 737-3292
24385  FleetBoston Financial Co.    Compensation Analyst  (989) 239-1752

        postal province             cc_no   cc_exp   cc_type  price(CAD)  \
76     X3S 4Q2       PE  6010000000000000  04/2018      Visa       100.0
21093  X0S 1O5       PE   201000000000000  03/2024       JCB       100.0
24385  V8X 9V6       NB  6300000000000000  07/2019  Bankcard       100.0

      fav_color             ip    weekday ampm        date
76        Green  212.100.18.95     Monday   am  10/23/2063
21093     Green  168.48.19.165  Wednesday   pm  03/28/1955
24385      Blue   140.87.99.78   Saturday   pm  03/03/1983

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

**13. How many emails are associated with this credit card number '5020000000000230'?**

In [78]:
cc = df[df['cc_no']=='5020000000000230']
print(cc['email'])

Series([], Name: email, dtype: object)

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

**14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?**<br>
*Use `sum()` and `count()` and see the difference in their use :)*

In [95]:
df1 = df["cc_exp"].apply(lambda x: x[5:])
df1 = df1[df1 == '19']
df1 = df1.count()
print(df1)

2684

In [ ]:
#cust[cust['cc_exp'].apply(lambda x: x[5:]) == '19'].count()

2684

**15. How many people use Visa as their Credit Card Provider?**

In [103]:
visa = df[df["cc_type"] == "Visa"]
print(visa.count())

prefix        1721
first         1721
last          1721
email         1721
gender        1721
age           1721
company       1721
profession    1721
phone         1721
postal        1721
province      1721
cc_no         1721
cc_exp        1721
cc_type       1721
price(CAD)    1721
fav_color     1721
ip            1721
weekday       1721
ampm          1721
date          1721
dtype: int64

1721

**16. Can you find the customer who spent 100 CAD using Visa?**

In [104]:
spent_visa = df[(df["cc_type"] == "Visa") & (df["price(CAD)"] == 100)]
print(spent_visa)

   prefix    first   last       email  gender  age              company  \
76   Mrs.  Gregory  Brown  hav@jek.gs  Female   31  E*Trade Group, Inc.

   profession           phone   postal province             cc_no   cc_exp  \
76   Novelist  (625) 537-8923  X3S 4Q2       PE  6010000000000000  04/2018

   cc_type  price(CAD) fav_color             ip weekday ampm        date
76    Visa       100.0     Green  212.100.18.95  Monday   am  10/23/2063

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

**17. What are two most common professions?**

In [105]:
profession_counts = df['profession'].value_counts()
profession_counts = profession_counts.head(2)
print(profession_counts)

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

**18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)**

In [106]:
email = df["email"].apply(lambda x: x.split('@')[1])
email = email.value_counts()
email = email.head(5)
print(email)

email
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: email, dtype: int64

**19. Is there any customer who is using email with "am.edu"?**<br>
Hint: Use `lambda` expression in `apply()`. split the email address at `@`.

In [108]:
email_am = df[df["email"].apply(lambda x: x.split('@')[1])=='am.edu']
print(email_am)

    prefix    first      last         email  gender  age  \
150   Miss  Loretta  Fletcher  barit@am.edu  Female   48

                     company                profession           phone  \
150  York International Corp  Rehabilitation Counselor  (323) 279-8038

      postal province             cc_no   cc_exp  \
150  E5X 8L0       QC  6330000000000000  05/2021

                                cc_type  price(CAD) fav_color              ip  \
150  Diners Club United States & Canada       97.26     White  147.57.240.225

    weekday ampm        date
150  Monday   am  11/07/2066

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

**20. Which day of the week, the store gets more customers?**

In [110]:
customer_count = df['weekday'].value_counts().head(5)
print(customer_count)

weekday
Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: count, dtype: int64

Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: weekday, dtype: int64

# Excellent work!